---
import GalleryLayout from '@/layouts/Gallery.astro'
import PhotoSwipe from "../../components/PhotoSwipe.astro";

import { getCollection } from "astro:content";
import { getAlbumImages } from '@/lib/data-utils'
import { Image } from "astro:assets";
import { formatDate, readingTime } from '@/lib/utils'



export async function getStaticPaths() {
    const albums = await getCollection("albums");
  
    const paths = Object.values(albums).map((album) => {
      return {
        params: {id: album.id},
        props: {album}
       
      };
    });
  
    return paths;
  }

  const { album } = Astro.props;
  const images = await getAlbumImages(album.id);
---

<GalleryLayout>
<div class="text-center">
  <section class="col-start-2 my-4 flex flex-col gap-y-6 text-center">
    <div class="flex flex-col">
  <h1
          class="text-4xl capitalize leading-tight font-medium text-pretty sm:text-5xl"
        >
        {album.data.title} 
        </h1> 
        <p class="text-muted-foreground">
          {album.data.description}
        </p>
      </div>
      </section>
<PhotoSwipe imageFolder={album.id} />

</div>
<p class="text-lg my-4 text-center">
  <a href="/gallery/" class="text-dark hover:underline"
    >⇐ Go back
    </a>
</p>

</GalleryLayout>

