---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import { Badge } from '@/components/ui/badge'

const blog = (await getCollection('blog')).filter((post) => !post.data.draft)

const tags = blog
  .flatMap((post) => post.data.tags)
  .filter((tag, index, self) => self.indexOf(tag) === index)
---

<Layout title="Tags" description="Tags">
  <Container>
    <div class="space-y-10">
      <h1 class="text-3xl font-semibold">Tags</h1>
      <div class="flex flex-wrap gap-2">
        {
          tags.map((tag) => (
            <a href={`/tags/${tag}`}>
              <Badge variant="secondary" className="hover:bg-secondary/80">
                #{tag}
              </Badge>
            </a>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
