---
import MetaPage from "@/components/MetaPage.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout crumbs={[{ label: "404", href: "/404" }]}>
  <MetaPage slot="head" title="404" />
  <prose-content>
    <h1>404</h1>
    <p>This page does not exist.</p>
  </prose-content>
</Layout>
