---
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import Link from '@components/Link.astro'
import { SITE } from '@consts'
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb'
import { HomeIcon } from 'lucide-react'
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container>
    <Breadcrumb className="mb-6">
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink href="/"
            ><HomeIcon className="h-4 w-4" /></BreadcrumbLink
          >
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>About</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>

    <section class="space-y-6">
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">Some more about us</h1>
        <p class="prose dark:prose-invert">
          {SITE.TITLE} is an opinionated, no-frills static blogging template built
          with Astro.
        </p>
      </div>
    </section>
  </Container>
</Layout>
