---
import AuthorCard from '@/components/AuthorCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllAuthors } from '@/lib/data-utils'

const authors = await getAllAuthors()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />
  {
    authors.length > 0 ? (
      <ul class="flex flex-col gap-4">
        {authors.map((author) => (
          <li>
            <AuthorCard author={author} />
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-muted-foreground text-center">No authors found.</p>
    )
  }
  <section>
    <div class="min-w-full">
      <div class="prose mb-8 text-base/relaxed sm:text-sm/relaxed">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere ipsum ipsam laborum corrupti eaque quisquam, non voluptas modi in fuga eos eligendi officia placeat quod doloremque perferendis saepe tenetur.
        </p>
      </div>
    </div>
  </section>
</Layout>
