---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p class="mb-4">
            astro-erudite is an opinionated, no-frills static blogging template
            that prioritizes simplicity and performance, built with <Link
              href="https://astro.build"
              class="text-foreground"
              external
              underline>Astro</Link
            >, <Link
              href="https://tailwindcss.com"
              class="text-foreground"
              external
              underline>Tailwind</Link
            >, and <Link
              href="https://ui.shadcn.com"
              class="text-foreground"
              external
              underline>shadcn/ui</Link
            >. It provides a clean foundation for your content while being
            extremely easy to customize.
          </p>
          <p>
            To learn more about the philosophy behind this template, check out
            the following blog post: <Link
              href="/blog/the-state-of-static-blogs"
              class="text-foreground"
              underline>The State of Static Blogs in 2024</Link
            >.
          </p>
        </div>

        <h2 class="mb-4 text-2xl font-semibold">Example Projects Listing</h2>
        <div class="flex flex-col gap-4">
          {projects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
    </section>
  </Container>
</Layout>
