---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="card-offset mx-0 p-6 lg:px-8">
      <div class="flex flex-col space-y-1.5 pb-4">

        <h3 class="text-3xl leading-none font-bold text-accent-foreground">Hi, I'm Brendan</h3>
        <p class="text-muted-foreground text-sm">
          Mechanical Engineer | Process Automation | Textile Engineering
        </p>
      </div>
      <div class="pt-0">
        <p class="text-md">
          I believe we stop living when we stop learning. I’m a mechanical engineer by trade with a passion for product design, automation engineering, and sustainability. But that's only part of it - I've worked as a web developer, innovation engineer, and data engineer.
          To me, every new oppurtunity - whether professional or otherwise - is a chance for me to learn something new, and use the new skills to contribute to something great. 
        </p>
        <p class="text-md mt-4">
          Don't just take my word for it - Head on over to the 
          <Link
          href="/about"
          class="text-foreground"

          underline>about</Link
        > page to find out more, <Link
        href="/projects"
        class="text-foreground"
        underline>projects</Link 
      > to view some of the projects i've worked on, 
      or the <Link
      href="/gallery"
      class="text-foreground"
      underline>gallery</Link
    > for a quick peek into my life.
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium ">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
