---
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import { SITE } from '@consts'
import ArrowCard from '@components/ArrowCard.astro'
import Link from '@components/Link.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import PublicationCard from '@components/PublicationCard.astro'
import SocialIcons from '@components/SocialIcons.astro'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)

const publications: CollectionEntry<'publications'>[] = (
  await getCollection('publications')
)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PUBLICATIONS_ON_HOMEPAGE)
---

<Layout title="Home" description="Home">
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate font-semibold text-black dark:text-white">
        Astro Micro Academics 🍄
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span class="animate">
              <p>
                Astro Micro Academics is a theme for <Link
                  href="https://astro.build/">Astro</Link
                > and tailored for academic users and researchers. It's built on
                <Link href="https://astro.build/themes/details/astro-micro/"
                  >Astro Micro</Link
                > and
                <Link href="https://github.com/markhorn-dev">
                  Mark Horn's
                </Link> popular theme <Link
                  href="https://astro.build/themes/details/astronano/"
                  >Astro Nano</Link
                >.
              </p>
              <p>
                Micro Academics adds features like <span class="text-red-500"
                  >tags, and blog math support</span
                > and also inherits <Link href="https://pagefind.app/"
                  >Pagefind</Link
                > for search, <Link href="https://giscus.app">Giscus</Link> for comments,
                from Astro Micro. See full changes this <Link
                  href="/blog/00-academic-astro">here</Link
                >.
              </p>
            </span>
            <span class="animate">
              <p>
                Micro Academics still comes with everything great about Micro
                and Nano — full type safety, a sitemap, an RSS feed, and
                Markdown + MDX support. Styled with TailwindCSS and
                preconfigured with system, light, and dark themes.
              </p>
              <p>
                Visit
                <Link href="https://github.com/jingwu2121/astro-micro-academic">
                  Astro Micro Academics on GitHub
                </Link>
                to fork the repository to get started.
              </p>
            </span>
          </article>
        </section>

        <section
          class="animate space-y-2 border-2 border-dashed border-red-800 p-2 text-red-800 dark:border-red-400 dark:text-red-400"
        >
          📢📢 Your important Information (Open for job/Recruiting students)
        </section>

        <section class="animate space-y-6">
          <span class="animate">
            <h4 class="font-semibold text-black dark:text-white">
              Let's Connect
            </h4>
            <article>
              <p>
                If you want to get in touch with me about something or just to
                say hi, reach out on social media or send me an email.
              </p>
            </article>
            <SocialIcons icon_size={'text-3xl'} />
          </span>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Research Interests
            </h2>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            <li>3D Vision</li>
            <li>AIGC</li>
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">News</h2>
          </div>
          <ul
            class="not-prose scroll_bar flex max-h-[150px] flex-col gap-4 overflow-y-auto"
          >
            <li>[06/2024]: Your News1</li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <!-- <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li> -->
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent research
            </h2>
            <Link href="/publications"> See all research </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              publications.map((publication) => (
                <li>
                  <PublicationCard entry={publication} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
