---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import WorkCard from '@/components/WorkCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const works = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="flex flex-col space-y-1.5 py-6">
      <h3 class="text-4xl leading-none font-medium">kis·met</h3>
      <p class="text-muted-foreground text-base">
        <span class="font-medium">noun</span>
      </p>
    </div>
    <div class="p-6 pt-0">
      <p class="prose mb-2 text-base/relaxed text-muted-foreground">
        A collection of transformative works published on the Archive of Our Own
        under the pseudonym <em>[insert name here]</em>.
      </p>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-3xl font-medium">Latest works</h2>
    <ul class="flex flex-col">
      {
        works.map((work) => (
          <li>
            <WorkCard work={work} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/works"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all works <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
