---
import MetaPage from "@/components/MetaPage.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout>
  <MetaPage slot="head" />
  <dictionary-entry>
    <h1>er·u·dite</h1>
    <etymology-span>
      <ipa-span>/ˈer(y)əˌdīt/</ipa-span>
      adj. [L. <i>ēruditus</i>, instructed, pp. of <i>ērudīre</i> to instruct,
      polish, lit. to free from roughness, f. ē- out + <i>rudis</i> rough,
      untrained]
    </etymology-span>
    <ol>
      <li>
        having or showing deep, wide-ranging knowledge acquired through study;
        learned (<i>an erudite scholar</i>).
      </li>
      <li>
        (of writing, speech, or argument) reflecting such knowledge; scholarly (<i
          >an erudite footnote</i
        >).
      </li>
    </ol>
    <hr>
    <prose-content>
      <p>
        astro-erudite is
        <a href="https://enscribe.dev" target="_blank" rel="noopener noreferrer"
          >enscribe</a
        >'s opinionated, unstyled static blogging template built with
        <a href="https://astro.build" target="_blank" rel="noopener noreferrer"
          >Astro</a
        >
        and native CSS. astro-erudite uses no UI or CSS framework and contains
        minimal dependencies.
      </p>
      <p>
        To use this template, check out the
        <a
          href="https://github.com/jktrn/astro-erudite"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
        repository. To learn more about why this template exists, read this blog
        post: <a href="/blog/introducing-v2">Introducing astro-erudite v2</a>.
      </p>
    </prose-content>
  </dictionary-entry>
</Layout>

<style>
  dictionary-entry {
    display: block;
    font-size: var(--step-0);
    color: var(--muted-foreground);

    @media (width >= 64rem) {
      margin-block-start: -0.2em;
    }

    ipa-span {
      opacity: 0.6;
    }

    h1 {
      font-size: var(--step-2);
      line-height: calc(var(--leading-offset) + 1em);
      font-weight: var(--font-weight-medium);
      color: var(--foreground);
      margin-block-end: var(--space-2xs);
    }

    ol {
      margin-block-start: var(--space-xs);
      list-style: none;

      li {
        padding-inline-start: 1em;
        text-indent: -1em;

        &::before {
          content: counter(list-item);
          display: inline-block;
          inline-size: 1em;
          text-indent: 0;
          font-weight: var(--font-weight-medium);
        }

        + li {
          margin-block-start: var(--space-3xs);
        }
      }
    }

    hr {
      margin-block: var(--space-m);
      border-block-start: 2px solid var(--border);
    }

    prose-content {
      margin-block-start: var(--space-xs);
    }
  }
</style>
