---
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4">
  <div
    class="mx-auto flex max-w-3xl flex-col items-center justify-center gap-y-2 px-4 sm:flex-row sm:justify-between"
  >
    <div class="flex flex-wrap items-center justify-center gap-x-2 text-center">
      <span class="text-muted-foreground text-sm">
        &copy; {new Date().getFullYear()} All rights reserved.
      </span>
      <Separator orientation="vertical" className="hidden h-4! sm:block" />
      <p class="text-muted-foreground text-sm">
        Made with 🤍 by <Link
          href="https://github.com/jktrn"
          class="text-foreground"
          external
          underline>enscribe</Link
        >!
      </p>
    </div>
    <SocialIcons links={SOCIAL_LINKS} />
  </div>
</footer>
