---
import Container from '@components/Container.astro'
import { SITE } from '@consts'
import BackToTop from '@components/BackToTop.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer>
  <Container>
    <div class="my-2 flex justify-between">
      <SocialIcons icon_size={'text-xl'} />
      <BackToTop />
    </div>
    <div class="flex items-center justify-between">
      <div>
        &copy; {new Date().getFullYear()} • {SITE.TITLE} 👀<br />
        Built with Astro
      </div>
    </div>
  </Container>
</footer>
