---
import { cn } from '@lib/utils'

type Props = {
  href: string
  external?: boolean
  underline?: boolean
  group?: boolean
}

const { href, external, underline = true, group = false, ...rest } = Astro.props
---

<a
  href={href}
  target={external ? '_blank' : '_self'}
  class={cn(
    'inline-block transition-colors duration-300 ease-in-out',
    underline && 'underline underline-offset-[3px]',
    group && 'group',
  )}
  {...rest}
>
  <slot />
</a>
