<div class="fixed w-full h-[2px] bg-neutral-300 dark:bg-slate-900 z-50">
  <div class="bg-cyan-500 dark:bg-orange-500 h-full"></div>
</div>

<script>
  import { initializeProgressBar } from '../scripts/progress-bar.js';
  initializeProgressBar();
</script>

