<div class="fixed z-50 h-[2px] w-full bg-neutral-300 dark:bg-slate-900">
  <div class="h-full bg-cyan-500 dark:bg-orange-500"></div>
</div>

<script>
  import { initializeProgressBar } from '../scripts/progress-bar.js'
  initializeProgressBar()
</script>
