---
import Link from '@/components/Link.astro'
import AvatarComponent from '@/components/ui/avatar'
import { cn } from '@/lib/utils'
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'

const currentPath = Astro.url.pathname
const {icon} = Astro.props
---

<div
  class="ring bg text-foreground transition-transform duration-200 ease-out overflow-hidden border p-2 px-4 font-medium w-fit lg:w-full"
>
  <div class="flex flex-wrap gap-4">
    <div class="flex items-center">
      <Icon name={icon} class="size-4 lg:size-6" />
    </div>
    <div class="text-sm lg:text-md font-mono uppercase ">
        <slot>
    </div>
  </div>
</div>
