---
import type { SvgComponent } from "astro/types"

type Props = { links: { href: string; label: string; icon: SvgComponent }[] }

const { links } = Astro.props
---

<ul>
  {links.map(({ href, label, icon: Icon }) => (
      <li>
        <a
          href={href}
          data-icon-button
          target="_blank"
          rel="noopener noreferrer"
          aria-label={label}
          title={label}
        >
          <Icon aria-hidden="true" />
        </a>
      </li>
    ))}
</ul>

<style>
  ul {
    display: flex;
    margin-inline: -0.5rem;

    li a {
      color: var(--muted-foreground);
      text-decoration: none;

      &:hover {
        color: var(--foreground);
      }

      svg {
        width: 1.125rem;
        height: 1.125rem;
      }
    }
  }
</style>
