---
import {
  Twitter,
  Github,
  Linkedin,
  Mail,
  GraduationCap,
  Rss,
} from 'lucide-react'
import { SITE } from '@consts'
---

<ul class="not-prose flex flex-wrap gap-2">
  <a href="#" class="inline-block"><Twitter /></a>
  <a href="#" class="inline-block"><Github /></a>
  <a href="#" class="inline-block"><Linkedin /></a>
  <a href="#" class="inline-block"><Mail /></a>
  <a href="#" class="inline-block"><GraduationCap /></a>
  <a href={`${SITE.SITEURL}/rss.xml`} class="inline-block"><Rss /></a>
</ul>
