---
import 'bootstrap-icons/font/bootstrap-icons.css'

export interface Props {
  URL: string
  icon: string
  icon_size: string
}

const { URL, icon, icon_size } = Astro.props
---

<a
  href={URL}
  target={'_blank'}
  class={`inline-block ${icon_size}`}
>
  <i class={`bi bi-${icon}`}></i>
</a>
