---
import Link from './Link.astro'
import type { Heading } from './TableOfContents.astro'

const { heading } = Astro.props
---

<li class="text-foreground/60 list-none px-4 text-sm xl:p-0">
  <Link
    href={'#' + heading.slug}
    class="marker:text-foreground/30 list-item list-disc py-1 underline decoration-transparent underline-offset-[3px] transition-colors duration-200 hover:decoration-inherit xl:list-none xl:py-0"
  >
    {heading.text}
  </Link>
  {
    heading.subheadings.length > 0 && (
      <ul class="translate-x-3 xl:mt-2 xl:ml-4 xl:flex xl:translate-x-0 xl:flex-col xl:gap-2">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
