---
import '@/styles/global.css'
import '@/styles/typography.css'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'

const { isWide = false } = Astro.props
---

<!doctype html>
<html lang={SITE.locale}>
  <Head>
    <slot name="head" />
  </Head>
  <body>
    <div class="flex h-fit min-h-screen flex-col">
      <Header />
      <main class="grow">
        <div
          class={cn(
            'mx-auto flex grow flex-col px-4',
            !isWide && 'max-w-3xl',
          )}
        >  
          <slot />
        </div>
      </main>
      <Footer />
    </div>
    <!-- <script>
        import PhotoSwipeLightbox from 'photoswipe/lightbox';
		import 'photoswipe/style.css';

		const lightbox = new PhotoSwipeLightbox({
			gallery: '#my-gallery',
			children: 'a',
			showHideAnimationType: 'zoom',
			initialZoomLevel: 1,
      secondaryZoomLevel: 1.2,
			showAnimationDuration: 300,
			pswpModule: () => import("photoswipe"),
		});
		
		document.addEventListener(
			'astro:page-load',
			() => { if (lightbox) lightbox.init() },
			{ once: false },
			)

    </script> -->
  </body>
</html>
